<button (click)="handleLoadDetails(1)">Load Details</button>

<section class="info-box" *ngIf="pokemon !== null">
  <div class="flex">
    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }} image" />
    <h4>{{ pokemon.name }}</h4>
  </div>
</section>

<section *ngIf="pokemons !== null">
<ul>
  <li *ngFor="let pokemon of pokemons">{{ pokemon.name }}</li>
</ul>
</section>

<section class="info-box" *ngIf="pokemonDetails !== null">
  <h2>Pokemon details</h2>
  <ul>
    <li *ngFor="let ability of pokemonDetails.abilities">
      {{ ability.ability.name }}
    </li>
    <li *ngFor="let stat of pokemonDetails.stats">
      {{ stat.stat.name }}: {{ stat.base_stat }}
    </li>
  </ul>
</section>
