<main>
    <h1>Landing page</h1>
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
        <fieldset>
            <label for="usernmae">Username</label>
            <input type="text"
            ngModel
            #username="ngModel" 
            name="username"
            placeholder="Enter your username" 
            minlength="3"
            required/>
        </fieldset>
        <button 
        [disabled]="loginForm.invalid"
        type="submit">Start</button>
        <pre>{{loginForm.valid}}</pre>
    </form>
</main>