@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --font: 'Press Start 2P';
    --fontSecond: 'VT323';
}

body{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: #AEFFD8 no-repeat;
}